/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */

@font-face {
  font-family: Friendlist;
  src: url('../fonts/Friendlist_Demo.otf');
}

body {
  min-height: 100vh;
  font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
  background-color: #c04d0b;
  color: #ffffff;
}

.heading {
  font-family: Friendlist;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.navigation {
  grid-area: nav;
  margin: 1rem 0 0 1rem;
  display: flex;
  gap: .6rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.navigation > a { 
  color: black;
  text-decoration: none;
  background-color: #ffffff;
  padding: .5rem;
  border-radius: .5rem .5rem 0 0; 
}

.navigation > a:hover,
.navigation > a:focus { color: #a75823; }

#content {
  display: grid;
  grid-template-areas: 'image nav'
                       'image main'
                       'footer footer';
  grid-template-columns: 600px 1fr;
  grid-template-rows: auto 1fr;
}

picture {
  position: relative;
  grid-area: image;
}

picture > .image-credit {
  position: absolute;
  bottom: 5px;
}

main {
  grid-area: main;
  height: max-content;
  line-height: 1.5;
  padding: 1.5rem;
  background-color: #441b1b;
  text-align: center;
}

.image-credit {
  font-size: .8rem;
  font-weight: bold;
}

.image-credit > a { color: #ffffff; }

form { text-align: center; }

label {
  display: flex;
  flex-direction: column;
  margin: .8rem auto;
  font-family: FriendList;
  font-size: 1.8rem;
  font-weight: bold;
}

input {
  margin: .8rem auto;
  padding: .6rem .4rem;
}

input[type="submit"] {
  font-weight: bold;
  padding: .4rem .6rem;
}

footer {
  grid-area: footer;
  margin-top: 20px;
  border-top: 3px solid #ffffff;
  padding: 2rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #441b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  gap: .8rem;
}

.socials img {
  width: 30px;
  height: 30px;
}

.socials img:hover, .socials img:focus {
  transform: scale(1.2);
  cursor: pointer;
}

@media (max-width: 1050px) {
  nav { justify-content: center; }

  picture { margin: 10px auto; }

  #content {
    grid-template-areas: 'image'
                         'nav'
                         'main'
                         'footer';
    grid-template-columns: 1fr;
  }

  footer { margin-top: 0; }
}

@media (max-width: 700px) {
  footer {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
}
